:root {
  --select-max-height: 200px;
  --select-width: 200px;
}

/* Reset Select Styles */
.__select {
  width: var(--select-width);
  border-bottom-width: 1px;

  &:hover .select__arrow {
    background-color: rgb(250, 204, 21);
  }

  &.--open {
    .select__items {
      max-height: var(--select-max-height);
    }
    .select__arrow {
      rotate: 180deg;
      background-color: rgb(250, 204, 21);
    }
  }
}

.select__arrow {
  width: 0.8rem;
  height: 0.55rem;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  user-select: none;
  transition-property: rotate, background-color;
  transition-duration: 400ms;
}

.select__items {
  z-index: 10;
  transition-property: max-height;
  transition-duration: 250ms;

  & div {
    border: 2px solid rgb(75, 85, 99);
    border-top: none;
    border-bottom: 1px solid rgb(75, 85, 99);
    transition-property: color, background-color;
    transition-duration: 400ms;

    /* Top of select menu */
    &:first-child {
      border-top: 2px solid rgb(75, 85, 99);
    }

    &:hover {
      background-color: rgba(31, 41, 55, 0.5);
      color: rgb(250, 204, 21);
    }
  }

  & div:last-child {
    border-bottom: 2px solid rgb(75, 85, 99);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}
